.home{
    display: flex;
    flex: 0.99;
    flex-direction: column;
    background-color: rgba(238, 231, 231, 0.808);
    
}
.home>h1{
    font-size: xx-large;
    font-weight: 800;
    text-align: center;
    margin-top: 100px;
}   
  
